body {
  font-family: "Open Sans", sans-serif;
}

.inset-0 {
  inset: 0;
}

.almost-centered {
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quarter-down-centered {
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fourty-centered {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.save-the-date {
  font-family: "Amatic SC", cursive;
}

.great-vibes {
  font-family: "Great Vibes", cursive;
}

.nowrap {
  white-space: nowrap;
}
